.resume {
  padding: 4rem;
  background: #fff;
}

.resume-wrapper {
  display: flex;
  justify-content: center;
}

.resume-section {
  margin: 50px 20px 0 20px;
}

.personal-info .education .work-experience {
  display: flex;
  margin: 50px;
}

.picture {
  width: 100px;
}

.resume-section-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.resume-section-item-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.resume-section > h2 {
  margin-bottom: 20px;
}

.resume-social-media-list {
  display: flex;
  justify-content: center;
  width: 100%;
}

.resume-social-media-list > a {
  text-decoration: none !important;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
}

.resume-email {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .resume-wrapper {
    display: flex;
    flex-direction: column;
  }

  .resume-section-item {
    align-items: center;
  }
}
